*.DS_Store
Thumbs.db

bin
target
build/
.gradle

.classpath
.project
.settings
.springBeans

*.iml
*.ipr
*.iws
*.idea

accessingdataneo4j.db
dependency-reduced-pom.xml
README.html
initial/frontend/
complete/frontend/
